.photos-list
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.photos-list__item
{
  max-width: 250px;
  width: 100%;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 7px;
}

.photos-list__item img
{
  max-width: 100%;
  height: auto !important;
}

.photos-list__item h3
{
  font-size: 14px;
  line-height: 1.3;
  word-wrap: break-word;
  margin: 7px 0;
  font-weight: bold;
}

.page-actions
{
  text-align: center;
}

input.error
{
  border: 2px solid red !important;
}